td, th {
	border: 1px solid;
  }
  .planet-table {
  width: 100%;
  border-collapse: collapse;
	}

		.planet-table th, .planet-table td {
  border: 7px pink;
  padding: 7px;
	}
		.planet_1 {

		width: 75px; /* Set the width to 300 pixels */
    height: 75px; /* Maintain the aspect ratio */
    background-image: url('images/galaxy-background.jpg'); /* Set the background image */
    background-size: cover; /* Cover the entire cell */
    background-repeat: no-repeat; /* Do not repeat the background */
    background-position: center; /* Center the background image */
   }
    .planet_2 {

		width: 75px; /* Set the width to 300 pixels */
    height:75px; /* Maintain the aspect ratio */
    background-image: url('images/galaxy-background.jpg'); /* Set the background image */
    background-size: cover; /* Cover the entire cell */
    background-repeat: no-repeat; /* Do not repeat the background */
    background-position: center; /* Center the background image */
	}
	.planet_3 {

		width: 75px; /* Set the width to 300 pixels */
    height: 75px; /* Maintain the aspect ratio */
    background-image: url('images/galaxy-background.jpg'); /* Set the background image */
    background-size: cover; /* Cover the entire cell */
    background-repeat: no-repeat; /* Do not repeat the background */
    background-position: center; /* Center the background image */
	}
	.planet_4 {

		width: 75px; /* Set the width to 300 pixels */
    height: 75px; /* Maintain the aspect ratio */
    background-image: url('images/galaxy-background.jpg'); /* Set the background image */
    background-size: cover; /* Cover the entire cell */
    background-repeat: no-repeat; /* Do not repeat the background */
    background-position: center; /* Center the background image */
}

