td, th {
	border: 1px solid;
  }
  .planet-table {
  width: 100%;
  border-collapse: collapse;
	}

		.planet-table th, .planet-table td {
  border: 5px orange;
  padding: 8px;
	}
		.planet_1 {

		width: 75px; /* Set the width to 300 pixels */
    height: 75px; /* Maintain the aspect ratio */
   }
    .planet_2 {

		width: 75px; /* Set the width to 300 pixels */
    height:75px; /* Maintain the aspect ratio */
	}
	.planet_3 {

		width: 75px; /* Set the width to 300 pixels */
    height: 75px; /* Maintain the aspect ratio */
	}
	.planet_4 {

		width: 75px; /* Set the width to 300 pixels */
    height: 75px; /* Maintain the aspect ratio */
}