td, th {
	border: 1px solid;
  }
  .planet-table {
  width: 100%;
  border-collapse: collapse;
	}

	.planet-table th, .planet-table td {
  border: 1px solid black;
  padding: 8px;
}
.planet_1 {

		width: 100px; /* Set the width to 300 pixels */
    height: 100px; /* Maintain the aspect ratio */
    }
    .planet_2 {

		width: 300px; /* Set the width to 300 pixels */
    height:300px; /* Maintain the aspect ratio */
	}.planet_3 {

		width: 300px; /* Set the width to 300 pixels */
    height: 300px; /* Maintain the aspect ratio */
	}.planet_4 {

		width: 300px; /* Set the width to 300 pixels */
    height: 300px; /* Maintain the aspect ratio */
}